<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        // on collection
        var socket = io("localhost:8001");
        socket.on("Server-send-color",function(data){
            $("body").attr("bgColor",data);
        });
        $(document).ready(function(){
            $("#do").click(function(){
                socket.emit("Client-send-color","red");
            });
            $("#xanh").click(function(){
                socket.emit("Client-send-color","blue");
            });
            $("#vang").click(function(){
                socket.emit("Client-send-color","yellow");
            });
        });
    </script>
    <title>Color Change Socket IO</title>
    <style>
        #do,#xanh,#vang{
            width: 30px;
            height:30px;
            border-radius: 50%;
        }
        #do{
            background: red;
        }
        #xanh{
            background: blue;
        }
        #vang{
            background: yellow;
        }

    </style>
</head>
<body bgColor="pink">
    <div id="do"></div>
    <div id="xanh"></div>
    <div id="vang"></div>
</body>
</html>